[Unit]
Description=KodeCompiler Worker Process
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/mycompiler/backend
ExecStart=/usr/bin/python3 worker_pubsub.py --workers 3
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

